@import url(./global.css);

body{
    background-color: #0e0e0f;
    background-image: url(../images/espaco3.jpg);
    background-blend-mode: soft-light;
   
}

.content{
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-image: url(../images/espaco2.jpg);
    background-size: auto;
    background-color: #0e0e0f;
    background-blend-mode: hard-light;
    color: white;
    
}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;       
    }
}

.persons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 576px){
    .persons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .persons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.person {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background-color: #5f6063;
    color: white;    
}
.person .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.person .detail .referens{
    padding: 0;
    margin: 0;
    list-style: none;
}
.person .detail .referens .referen{
   background-color: #3b3232;
   color: rgb(218, 196, 196);
   padding: .25rem .5rem;
   margin: .25rem 0;
   font-size: .625rem;
   border-radius: 1rem;
}
.person .detail img{
    max-width: 90px;
    height: 100px;
    align-self: flex-end;
}

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button{
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    color: white;
    background-color: rgb(119, 104, 104);
    border: none;
    border-radius: 1rem;
}
.person .number{
    text-align: right;
    color: #3b3232; 
}
.person .name{
    color: rgb(218, 196, 196);
    margin-bottom: 0;
}


/* The Modal (background) */
.ebcf_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: auto; /* Location of the box */    
    left: 15%;
    top: 0;
    width: 70%; /* Full width */
    height: 100%; /* Full height */
    
   
    
}

/* Modal Content */
.ebcf_modal-content {
    display: flex;
    flex-direction: column;
    background-color: #3b3232;
    background-image: url(../images/espaco2.jpg);
    background-size: 100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 5px;      
    width: 70%;
    height: 100%;
    border-radius: 2px;    
    color: white;    
    font-size: 1.5rem;
}
.ebcf_modal-content a{
    color: white;
    font-size: 1rem;
    cursor: pointer;
}


/* The Close Button */
.ebcf_close {
    color: rgb(0,0,0);
    float: right;
    font-size: 28px;
    font-weight: bold;
    
}

.ebcf_close:hover,
.ebcf_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.personaUnit {
    display: flex;   
    flex-direction: column; 
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 70%;        
    margin: .5rem;
    padding: 1rem;        
    font-size: 1.5rem;    
    color: white; 
    
}
.personaUnit img{
    padding-top: 1rem;
    max-width: 140px;
    height: 150px;
    
}
.personaUnit .detail{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;    
}

.personaUnit .detail .referens{    
    padding: 0;
    margin: 0;
    list-style: none;
      
}
.personaUnit .detail .referens .referen{   
   background-color: #3b3232;
   color: rgb(218, 196, 196);
   padding: .5rem 1rem;
   margin: .5rem 0;
   font-size: .9rem;
   border-radius: 1rem;
}

.personaUnit .number{
    text-align: right;
    color: #3b3232; 
}
.personaUnit .name{
    color: rgb(218, 196, 196);
    margin-bottom: 0;
}
